* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v16_188 {
    width: 100%;
    height: 1024px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .name {
    color: #fff;
  }
  .v16_190 {
    width: 164px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 38px;
    left: 1121px;
    font-family: Avenir;
    font-weight: Heavy;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v16_191 {
    width: 100px;
    height: 100px;
    /* background: url("./images/v16_191.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1298px;
    overflow: hidden;
  }
  .back_link {
    width: 282px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 40px;
    left: 143px;
    font-family: Avenir;
    font-weight: Roman;
    font-size: 24px;
    opacity: 1;
    text-align: center;
  }
  .v16_192 {
    width: 48px;
    height: 48px;
    background: url("./images/v16_192.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 26px;
    left: 77px;
    overflow: hidden;
  }
  .v16_195 {
    width: 120px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 170px;
    left: 660px;
    font-family: Avenir;
    font-weight: Heavy;
    font-size: 36px;
    opacity: 1;
    text-align: center;
  }
  .v16_197 {
    width: 380px;
    height: 401px;
    background: url("./images/v16_197.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 283px;
    left: 823px;
    overflow: hidden;
  }
  .v16_198 {
    width: 387px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 344px;
    left: 286px;
    font-size: 18px;
    opacity: 1;
    text-align: left;
  }
  